
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table tr td { padding: 10px; }

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

ul { list-style-type: none; }

li.foldable {
    font-weight: bold;
}

li.foldable ul { font-weight: normal; }

.foldable .collapsed {
}

.foldable .collapsed::before {
    content: "+";
}

.foldable .expanded::before {
    content: "-";
}

.foldable .collapsed ul { display: none; }
.foldable .expanded ul { display: block; }
